AnchorPane{
    -fx-background-color: transparent;
    -fx-background-radius:10;
    -fx-border-style:solid;
    -fx-border-width: 2px;
    -fx-background-size: 100%;
    -fx-border-radius:10;
  //  -fx-effect:  dropshadow(three-pass-box, #339999, 10, 0, 0, 0);
}