/*@import "dark_theme.css";*/
/*@import "base.css";*/
/*
.root{
-fx-focus-color: firebrick;
}
*/
.background {
    -fx-background-color: #1d1d1d;

}
.background-square {
 -fx-background-color: #1d1d1d,
        linear-gradient(from 0.5px 0.0px to 5px  0.0px, repeat, derive(DARKSLATEGREY, -50%) 2%, transparent 5%),
        linear-gradient(from 0.0px 0.5px to  0.0px 5px, repeat, derive(DARKSLATEGREY, -50%) 2%, transparent 5%);

}
.label {
  /*  -fx-font-size: 11pt;*/
    -fx-font-family: "Segoe UI Semibold";

    -fx-opacity: 0.6;
}

.label-bright {
    /*-fx-font-size: 11pt;*/
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill:lightgray;
    -fx-opacity: 1;
}

.label-header {
   /* -fx-font-size: 32pt;*/
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: lightgray;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
-fx-background-color: #0c5663;
     -fx-base: #1d1d1d;
        -fx-control-inner-background: #1d1d1d;

}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: transparent;
        -fx-opacity: 0.9;
   /* / -fx-table-cell-border-color: transparent;
    /* -fx-table-header-border-color: transparent;
   /* -fx-padding: 5;*/
}
.table-view2 {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: transparent;
        -fx-opacity: 0.9;
            -fx-font-size: 10;
    -fx-padding: 0;
}


.table-view .column-header, .table-view .filler {
   /* -fx-size: 35;*/
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
   /* -fx-font-size: 20pt;*/
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
     -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
}

.table-row{
    line-height: 100px;
    -fx-background-color: transparent;
}

.table-view-small {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: transparent;
        -fx-opacity: 0.9;
            -fx-font-size: 9;
    -fx-padding: 0;

    sort_arrow_color: red;

}


.table-view-small .column-header-background .table-cell  {
    -fx-background-color: transparent;
    -fx-font-size: 10;
        -fx-font-family: "Segoe UI Light";
            -fx-border-insets: 0 1 1 0;
                -fx-padding: 0px 0px 0px 1px;
}
.table-view-small .column-header, .table-view-small .filler {
   /* -fx-size: 35;*/
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 10%)
        transparent;
    -fx-border-insets: 0 0 0 0;
}

.table-view-small .table-row{
    line-height: 10px;
    -fx-background-color: transparent;
        -fx-border-insets: 0 0 0 0;
            -fx-border-width: 0 0 0 0;
}
.table-view-small:focused .table-row-cell:filled:focused:selected {
-fx-background-color: #0c5663;
     -fx-base: #1d1d1d;
        -fx-control-inner-background: #1d1d1d;

}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #0d464a;
    -fx-background-insets: 0, 0 0 0 0;
    /*-fx-text-fill: -fx-text-inner-color;*/
    -fx-text-fill: #fff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #0f5880;
    /*-fx-text-fill: -fx-text-inner-color;*/
    -fx-text-fill: #fff;
    -fx-table-cell-border-color: #9f9f9f;
    -fx-table-header-border-color: #9f9f9f;
}

.table-view:focused .table-row-cell:filled:selected .table-cell:hover {
    -fx-background-color: #2a7054;
    /*-fx-text-fill: -fx-text-inner-color;*/
    -fx-text-fill: #fff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}


.menu-bar .label {
   /* -fx-font-size: 14pt;*/
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #0082ad;;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: transparent;
}

.text-field {
   /* -fx-font-size: 12pt;*/
    -fx-font-family: "Segoe UI Semibold";
}

/*******************************************************************************
 *                                                                             *
 * Password Field                                                              *
 *                                                                             *
 ******************************************************************************/

.password-field {
    -fx-skin: "resources.style.jmetro.PasswordFieldSkin";

    -right-button-visible: true;
}

.password-field > .right-button {
    -fx-padding: 0 0.66667em 0 0.66667em;
}

.password-field > .right-button > .right-button-graphic {
    -fx-shape            : "M307.688,399.564c0,1.484-1.203,2.688-2.688,2.688c-1.484,0-2.688-1.203-2.688-2.688s1.203-2.688,2.688-2.688C306.484,396.876,307.688,398.08,307.688,399.564z M297.5,399h2.5c0,0,1.063-4,5-4c3.688,0,5,4,5,4h2.5c0,0-2.063-6.5-7.5-6.5C299,392.5,297.5,399,297.5,399z";
    -fx-scale-shape: false;
    -fx-background-color: white;
}

.password-field > .right-button:pressed {
    -fx-background-color: #999;
}

.password-field > .right-button:pressed > .right-button-graphic {
    -fx-background-color: white;
}


/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */



.button {
   /* -fx-skin: "resources.style.jmetro.FluentButtonSkin";*/
    -fx-padding: 5 5 5 5;
    -fx-border-color: #2b2b2b;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
        -fx-effect: dropshadow(gaussian, black, 4, 0.5, 3.0, 3.0);
}

.button:hover {
    -fx-background-color: #3a3a3a;
        -fx-effect: dropshadow(gaussian, gray, 4, 0.5, 3.0, 3.0);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
.context-menu {
-fx-background-color: rgba(40, 43, 48, 0.9);
-fx-background-insets: 0;
-fx-padding: 5px;
/*-fx-background-radius: 5px;*/
-fx-border-radius: 5px;
-fx-border-color: rgba(245, 245, 245, 0.1);
-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.6) , 6, 0.0 , 0 , 0);
        -fx-font-size: 10;
}
/********** Menu Iten ***********/
.menu-item {
/*-fx-background-radius: 5px;*/
}
.menu-item:hover, .menu-item:focused {
-fx-background-color: derive(rgba(77, 151, 161, 0.2), -20%);
}
.menu-item > .graphic-container {
-fx-padding: 0em 0.333em 0em 0em;
}
/********** LABEL ***********/
.menu-item >.label {
-fx-background-color:transparent;
-fx-padding: 0.2em 0.1em 0.2em 0.1em;
-fx-text-fill: rgba(255, 255, 255, 0.6);
-fx-effect: null;
-fx-font-size: 13px;
-fx-font-family: 'Open Sans';
}
.menu-item:focused > .label {
-fx-text-fill: #fff;
}
/******* Critical Item *******/
.danger > .label {
-fx-text-fill: #f04747;
}
.danger:focused > .label {
-fx-text-fill: derive(#ff3434, 25%);
}


.chart-legend { -fx-background-color: #1d1d1d; }
.data1.chart-pie
{
-fx-pie-color: #D8D803;

}
.data0.chart-pie{
-fx-pie-color: rgba(14, 255, 0,0.5);
}
.data2.chart-pie{
-fx-pie-color: rgba(225, 0, 125,0.2);
}

/*
#spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: #0082ad;
}

#spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #0082ad;
}
#spinner .text-field  {
-fx-background-color: #1d1d1d;
}*/

#spinner {
    -fx-background-color:  rgba(17, 17, 17,1);
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 3, 3, 2;
}
#spinner:focused,
#spinner:contains-focus {
    -fx-background-color:  rgba(17, 17, 17,1);
    -fx-background-insets: -1.4 -1.4 -0.4 -1.4, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 4, 3, 2;
}
#spinner:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
#spinner > .text-field {
    -fx-background-color:  rgba(17, 17, 17,1);
    -fx-background-insets: 0 0 1 0, 1 0 2 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2;
}

#spinner .increment-arrow-button {
    -fx-background-color:  rgba(17, 17, 17,1);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 3 0 0, 0 2 0 0, 0 1 0 0;
    -fx-padding: 0.333em 0.666em 0.333em 0.666em; /* 4 8 4 8 */
}
#spinner .decrement-arrow-button {
    -fx-background-color:  rgba(17, 17, 17,1);
    -fx-background-insets: -1 0 1 0, 0 1 2 1, 0 2 3 2;
    -fx-background-radius: 0 0 3 0, 0 0 2 0, 0 0 1 0;
    -fx-padding: 0.250em 0.666em 0.5em 0.666em; /* 3 8 6 8 */
}

#spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: #0082ad;
    -fx-background-insets: -0.6 0 1 0, 0;
    -fx-padding: 0.167em 0.333em 0.167em 0.333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
    -fx-rotate: 180;
}
#spinner .decrement-arrow-button .decrement-arrow {
-fx-background-color: #0082ad;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.167em 0.333em 0.167em 0.333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}


.myDialog .dialog-pane {
-fx-background-color: black;
}

.myDialog .dialog-pane .label {
-fx-text-fill: white;
}

.myDialog .dialog-pane:header .header-panel {
-fx-background-color: black;
}

.myDialog .dialog-pane:header .header-panel .label {
-fx-font-style: italic;
-fx-font-size: 2em;
}
/*******************************************************************************
 *                                                                             *
 * Charts                                                                      *
 *                                                                             *
 ******************************************************************************/
.chart {
    -fx-padding: 5px;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-title {
    -fx-font-size: 1.4em;
    -fx-text-fill: white;
}
.chart-legend {
    -fx-background-color : #656565;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-padding          : 6px;
}
.chart-legend > .label {
    -fx-text-fill: white;
}


/*******************************************************************************
 *                                                                             *
 * Axis                                                                        *
 *                                                                             *
 ******************************************************************************/
.axis {
    AXIS_COLOR              : derive(-fx-background,-20%);
    -fx-tick-label-font-size: 0.833333em; /* 10px */
    -fx-tick-label-fill     : white;
}
.axis:top {
    -fx-border-color: transparent transparent AXIS_COLOR transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent AXIS_COLOR;
}
.axis:bottom {
    -fx-border-color: AXIS_COLOR transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent AXIS_COLOR transparent transparent;
}
.axis:top > .axis-label, .axis:left > .axis-label {
    -fx-padding  : 0 0 4px 0;
    -fx-text-fill: white;
}
.axis:bottom > .axis-label, .axis:right > .axis-label {
    -fx-padding: 4px 0 0 0;
}
.axis-tick-mark, .axis-minor-tick-mark {
    -fx-fill  : null;
    -fx-stroke: AXIS_COLOR;
}


/*******************************************************************************
 *                                                                             *
 * LineChart                                                                   *
 *                                                                             *
 ******************************************************************************/
.chart-line-symbol {
    -fx-background-color : CHART_COLOR_1, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 7px, 5px;
    -fx-padding          : 7px;
}
.chart-line-symbol:hover {
    -fx-effect: dropshadow(two-pass-box, white, 10, 0, 0, 0);
}
.chart-series-line {
    -fx-stroke      : CHART_COLOR_1;
    -fx-stroke-width: 4px;
}


.data-picker-list-cell {
    -fx-text-fill: rgb(20, 20, 20);
    -fx-font-weight: bold;
}

.day-name-cell.date-cell, .week-number-cell.date-cell {
    -fx-text-fill: rgb(100, 100, 100);
}

.date-cell {
    -fx-text-fill: rgb(220, 220, 220);
}

.date-cell:selected, .date-cell:focused, .date-cell:hover {
    -fx-text-fill: rgb(20, 20, 20);
    -fx-font-weight: bold;
}

.spinner-label {
    -fx-text-fill: rgb(100, 100, 100);
}
date-picker-popup > .left-button.jfx-svg-glyph, .date-picker-popup > .right-button.jfx-svg-glyph {
    -fx-fill: rgb(20, 20, 20);
}
.combo-box .text-field {
-fx-prompt-text-fill: #0082ad;
-fx-text-fill: #0082ad;
}
.combo-box .text-field:focused {
-fx-prompt-text-fill: #0082ad;
-fx-text-fill: #0082ad;
}

.combo-box > .combo-box-button-container {

-fx-text-fill: #0082ad;
-fx-prompt-text-fill: #0082ad;
}

.combo-box > .combo-box-button-container > .label {
	  -fx-font-family: "Segoe UI Light";
        -fx-text-fill: #0082ad;;
        -fx-opacity: 0.9;
}

.custom-text-field {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;

}
.text-field {

    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #1d1d1d;
    -fx-background-insets: 0;
    -fx-padding: 2px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
 -fx-text-fill : #3fc9ee;
 -fx-prompt-text-fill: #a1a1a1;;
     -fx-border-color: rgba(245, 245, 245, 0.1);
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.6) , 6, 0.0 , 0 , 0);
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar                                                                *
 *                                                                             *
 ******************************************************************************/


.progress-bar {
    -fx-skin: "resources.style.jmetro.ProgressBarSkin";
}

.progress-bar > .bar {
   /*-fx-background-color: bar_color;*/
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.progress-bar > .track {
   -fx-background-color:  #1d1d1d;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-pref-height: 4px;
    -fx-min-height: 4px;
    -fx-max-height: 4px;
}

/* Indeterminate */
.progress-bar:indeterminate > .track {
    -fx-background-color:  #1d1d1d;
}

.progress-bar:indeterminate .dot {
    -fx-background-radius: 1em;
    -fx-padding: 0.166667em;

   -fx-background-color: red;
}



.green-bar  { -fx-accent: green;  }
.yellow-bar { -fx-accent: yellow; }
.orange-bar { -fx-accent: orange; }
.red-bar    { -fx-accent: red;    }

.titled-pane > .title > .arrow-button .arrow{
    -fx-shape: "";
      -fx-padding: 0 0 0 -10;
}
.table-label{
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: derive(-fx-focus-color,30%);
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-color: none;
    -fx-font-size: 12px;
    -fx-padding: 0px 0px 0px 15px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -fx-cursor:hand;
    -fx-text-fill: -fx-focus-color;
}

.scroll-bar:horizontal{
    -fx-height: 70 ;
}


/*******************************************************************************
 *                                                                             *
 * Date Picker                                                                 *
 *                                                                             *
 ******************************************************************************/

.date-picker {
    graphic_color: white;
    graphic_focused_color: #111;
    graphic_disabled_color: #333;

    text_color: white;
    text_focused_color: #111;

    text_selected_color: white;
    text_hover_color: white;

    text_days_from_other_months_color: #7c7c7c;

    date_picker_background_color: #111;
    background_focused_color: #fff;
    background_hover_color: date_picker_background_color;

    border_color: #616161;
    border_hover_color: #999999;

    popup_border_color: #111;

    spinner_button_hover_color: #999;

    cell_background_color: #111;

    day_cell_background_color: #1f1f1f;
    day_cell_border_hover_color: #999;

    day_cell_background_days_from_other_months_color: #2b2b2b;

    today_border_color: derive(#999, -60%);

    text_field_disabled_background_color: #111;
}




/***************************** Date Picker popup ********************************/
.date-picker-popup .button {
    -fx-skin: "javafx.scene.control.skin.ButtonSkin"; /* Without also specifying this an exception sometimes happens when opening the DatePicker for the second time */
}

.date-picker-popup {
    -fx-border-color: popup_border_color;
    -fx-border-width: 2px;

    -fx-effect: null;
}

.date-picker-popup {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;

    -fx-font-family: "Segoe UI Semilight";
    -fx-font-size: 1.083333em;
}

.date-picker-popup > * > .spinner > .button {
    -fx-padding: 0.25em 0.583333em 0.25em 0.583333em; /* 3 7 3 7 */
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .spinner-label {
    -fx-text-fill: text_color;
}

.date-picker-popup > * > .spinner > .button:hover {
    -fx-background-color: spinner_button_hover_color;
}

.date-picker-popup > * > .spinner > .button:armed {
    -fx-background-color: #606060;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: text_color;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: cell_background_color;
    -fx-padding: 0;
}

.date-picker-popup > * > .day-cell.previous-month,
.date-picker-popup > * > .day-cell.next-month {
    -fx-background-color: day_cell_background_days_from_other_months_color;
    -fx-border-color: day_cell_background_color;
    -fx-text-fill: text_days_from_other_months_color;
}

.date-picker-popup > * > .day-cell.previous-month:hover,
.date-picker-popup > * > .day-cell.next-month:hover {
    -fx-background-color: day_cell_border_hover_color, day_cell_border_hover_color, day_cell_background_days_from_other_months_color;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.75em;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: text_color;
}

.date-picker-popup > * > .day-name-cell {
    -fx-font-size: 0.833333em; /* 10 */
    -fx-padding: 0 0 0.75em 0;
}

/* Day Cells */
.date-picker-popup > * > .day-cell {
    -fx-background-color: day_cell_background_color;
    -fx-border-color: day_cell_background_color;

    -fx-text-fill: text_color;

    -fx-padding: 0.5em 0.5em 0.5em 0.5em; /* 6 6 6 6 */
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: day_cell_border_hover_color, day_cell_border_hover_color, day_cell_background_color;
    -fx-text-fill: text_hover_color;
}

.date-picker-popup > * > .day-cell.selected {
    -fx-background-color: #999;
    -fx-text-fill: text_selected_color;
}

.date-picker-popup > * > .day-cell.selected:hover {
    -fx-background-color: derive(#999, 70%);
}

.date-picker-popup > * > .today {
    -fx-background-color: today_border_color, today_border_color, day_cell_background_color;
}


.userMenu{

  -fx-border-color:rgba(0,0,0,0.1);
   -fx-border-radius: 0em;
    -fx-background-radius: 0em;
    -fx-background-color: rgba(0,0,55,0.1);

}

.background1 {
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.6) , 6, 0.0 , 0 , 0);
    -fx-background-color:
    linear-gradient(#373837 12%, #373837 50%, #232723 75%, #232723 100%);
    -fx-background-insets: 0;
}

*.popup-menu {
    -fx-background-color:
        linear (0%,0%) to (0%,100%) stops (0%,#383838) (100%,#141414);
}
.menu-bar .label {
    -fx-font-size: 10;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: white;
    -fx-font-weight: bold;

}
.menu-item .label{
    -fx-font-size: 10;
}


.menu {
    -fx-text-fill: #ffffff;
}

*.menu-item {
    -fx-text-fill: #ffffff;
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider {

    track_hover_color: #999999;
    thumb_hover_color: #f2f2f2;

    thumb_pressed_color: #767676;
}


.tab-pane *.tab-header-area *.tab-header-background {
/*-fx-background-color: linear-gradient(rgba(32, 60, 64, 0.6) 12%, rgba(52, 96, 102, 0.6) 50%, rgba(59, 108, 115, 0.6) 75%, rgba(59, 108, 115, 0.6) 100%);
  -fx-tab-min-width:120px;*/

}
.tab-label {
    -fx-content-display: right ;
}
.check-box-n:selected .mark {
                        visibility: hidden;

                    }
.check-box-n > .box {
visibility: hidden;
}
.check-box-n:selected  .box {
                        visibility: hidden;

                    }






/* When the TableView is _not_ focused, we show alternate selection colors */



